/* 
* {
    outline: 1px solid red; Dibuja un borde en todos los elementos
} */

h1 {
    font-weight: 40px;
    color: #eeff00;
}


p {
    text-align: left;
    color: white;
    font-family: Tahoma;
    word-spacing: 4px;
    line-height: 1.4;
}

h2 {
    color: #eeff00;
    text-align: center;
    margin-bottom: 15px;
    font-size: clamp(1.5rem, 5vw, 3rem);
    ;

}

h3 {
    font-weight: bold;
    font-size: 17px;

    color: #eeff00;
}


.principal{
    background-size: cover;
    /* Cubre todo el fondo */
    background-position: center;
    /* Centra la imagen */
    background-attachment: fixed;
    /* La imagen permanece fija */
    background-repeat: no-repeat;
    /* Evita que se repita */
    background-color: bisque;
    background-image: url(images/bgBlack.png);
    background-color: rgba(0, 0, 0, 0.6);
    /* Negro con 50% de opacidad */
    background-blend-mode: overlay;
}
body {
    font-family: Tahoma;
    color: #ffffff;
    font-size: 14px;
    margin: 0;
    /* Quita los márgenes predeterminados */
    padding: 0;
    /* Quita el relleno predeterminado */

}

section {
    position: absolute;
    /* Las secciones se posicionan de manera absoluta */
    top: 0;
    /* Posicionamos todas las secciones desde la parte superior */
    left: 0;
    right: 0;

    display: none;
    /* Por defecto todas las secciones están ocultas (sin ocupar espacio) */
    opacity: 0;
    /* Inicialmente no son visibles */
    transform: translateY(30px);
    /* Empezamos un poco desplazadas */
    transition: opacity 1s ease, transform 1s ease;

    max-width: 1400px;
    align-items: center;
    position: relative;
    /* Cambiado a sticky */
    top: 0;
    /* Se queda pegado en la parte superior al hacer scroll */
    width: 90%;

    margin: 0 auto;
    /* Centra el header horizontalmente */
    padding: 15px 20px;
    background: rgba(15, 15, 15, 0.3);
    /* Fondo semitransparente */
    backdrop-filter: blur(10px);
    /* Efecto blur */
    border-radius: 20px;
    /* Bordes redondeados */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    /* Sombra */
    margin-top: 20px;

    text-align: center;
    padding: 70px 20px;
    scroll-margin-top: 4rem;
    /* Ajusta el desplazamiento del anclaje */
}

section.visible {
    display: block;
    /* Hacemos visible la sección (ahora ocupa espacio) */
    opacity: 1;
    /* Hacerla completamente visible */
    transform: translateY(0);
    /* Vuelve a su posición original */
    animation: fadeInUp 1s ease forwards;
    /* Animación de entrada */
}

header {
    opacity: 1;
    /* Hacerla completamente visible */
    transform: translateY(0);
    /* Vuelve a su posición original */
    animation: fadeInUp 1s ease forwards;
    /* Animación de entrada */

}

/*------------------------------------------------------------------- HEADER -------------------------------------------------------*/

header {
    position: sticky;
    top: 0;

    padding: 15px 15px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    z-index: 1000;


}

.containerHEADER {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centra verticalmente los elementos */
    margin: 0 auto;
    /* Centra el contenedor horizontalmente */
     height: 90%;

}

.navbar {

    display: flex;
    /* Coloca los elementos del navbar en una fila */
    gap: 20px;
    /* Espaciado entre enlaces */
    align-items: center;
}

.navbar button {

    background-color: transparent;
    border: none;
    color: white;
    font-size: clamp(1rem, 5vw, 3rem);
    font-weight: bold;
    transition: transform 0.2s ease, color 0.3s ease;
    cursor: pointer;
}
.navbar button i{
    color: #eeff00;
}

.navbar button:hover {
    color: #eeff00;
}
.logoHomeBtn {
    display: flex;
    background-color: transparent;
    border: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.3s ease;

}

.logoHomeBtn:hover {
    transform: scale(1.1);
    /* Slightly enlarge the button */
    cursor: pointer;
    /* Ensures the pointer shows a hand icon */
}

.logoHomeBtn h1 {

    white-space: nowrap;
    /* Prevents text wrapping */
    font-size: 50px;
    font-family: tahoma;
    font-weight: bold;
    color: white;
}



header h1 {
    color: white;
    font-size: 40px;
    text-align: center;
    transition: color 0.3s ease;

}

/* -----------------------------------------------SKILLS SECTION------------------------------------------------------------------------ */
/* PRESENTACION */

.presentation {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-left: 7%;
    padding-right: 7%;
}




.phpersonal img {
    width: 120px;
    /* Adjust the size of the photo */
    height: auto;
    /* Maintains the aspect ratio */
    border-radius: 50%;
    /* Makes the image circular */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    /* Adds a shadow for better appearance */
}

.presentation div {
    text-align: left;
    /* Center-aligns the text */
    font-size: clamp(2rem, 5vw, 3rem);
    /* Adjust font size */
    font-weight: bold;
    color: #ffffff;
    /* Text color */

}

.presentation span:nth-of-type(2) {
    color: #ffffff;
    font-weight: 50;
    font-style: italic;
    font-size: clamp(1rem, 5vw, 2rem);
}

.presentation span {
    display: flex;
    /* Ensures the second line stays below the first */
    font-size: clamp(1rem, 5vw, 3rem);
    /* Slightly smaller font size for the name */
    color: #eeff00;
    /* Adds a different color for emphasis */
}

/*--------------------GRID CONOCIMIENTOS-------------------------*/


.conocimientosDiv {
    justify-content: center;
    align-items: center;
}

.conocimientosDiv h2 {
    text-align: left;
    margin-bottom: 15px;
    margin-left: 7%;
    font-size: clamp(1.5rem, 5vw, 3rem);
    ;
}

.tecnologias {
    text-align: center;
    padding: 40px 20px;
}

.tecnologias h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 0 20px;
    justify-items: center;
    /* Centra cada celda dentro de su espacio */
    align-items: center;
    /* Centra los elementos verticalmente */
}

.tecnologia {

    width: 80%;
    /* Ancho fijo para los cuadrados */
    height: auto;
    /* Alto fijo para los cuadrados */
    background: rgba(11, 130, 228, 0.15);
    backdrop-filter: blur(10px);
    /* Efecto blur */
    border-radius: 15px;
    /* Bordes redondeados */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.192);
    /* Sombra */
    display: flex;
    flex-direction: column;
    /* Coloca imagen y texto en columna */
    justify-content: center;
    /* Centra contenido verticalmente */
    align-items: center;
    /* Centra contenido horizontalmente */
    text-align: center;
    padding: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tecnologia:hover {
    transform: scale(1.1);
    /* Efecto de zoom al pasar el mouse */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    /* Sombra más grande */
}

.tecnologia img {
    margin: 0px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    /* Sombra */
    width: 50px;
    /* Tamaño de las imágenes */
    height: 50px;
    margin-bottom: 10px;
    /* Espaciado entre la imagen y el texto */
}

.tecnologia p {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    color: #ffffff;
}

/* --------------------------------------------------------------------------- ABOUT SECTION -------------------------------------------------------------*/

.aboutSection h3 {
    margin: 0px;
}

.aboutSection {
    justify-items: center;
    /* Centra los elementos horizontalmente */
    align-items: center;
    gap: 6px;
    margin-bottom: 1px;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.timeline {
    line-height: 1px;
    margin: 1px;
    margin-bottom: 1px;
}

.timeline h2 {
    font-size: 20px;
    text-align: left;
    margin: 30px 0px;
}

.event {
    /* display: flex;
    align-items: center;
    justify-content: left;
    gap: 6px;
    font-size: 15px;
    margin-bottom: 2px; Adds spacing between events */
    display: flex;
    flex-direction: row;
    /* Stacks items vertically */
    align-items: center;
    /* Aligns items to the left */
    justify-content: left;
    gap: 6px;
    /* Adds space between the <h3> and <p> */
    font-size: 15px;
    margin-bottom: 2px;
    /* Adds spacing between events */
}

.event h3 {
    font-size: 17px;
    margin: 0px;

}

.event p {
    margin: 0;
    /* Removes extra margin */
    font-size: 14px;
    /* Slightly smaller text for the description */
}


.redes{
    /* width: auto;
    display: grid;
    border: 2px solid red;
    
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    padding: 0 40px;
    place-items: center; */
    
  
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Siempre 2 columnas */
    gap: 20px; /* Espaciado entre los elementos */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    
    
    
    
    
}
.red{
    display: flex;
    flex-direction: row;
    /* Stacks items vertically */
    align-items: center;
    /* Aligns items to the left */
    justify-content: left;
    gap: 6px;
    /* Adds space between the <h3> and <p> */
    font-size: clamp(0.8rem, 2vw, 1.3rem); /* Texto responsivo */
    margin-bottom: 2px;

    color: #ffffff;
    text-align: center;
    line-height: 1px;

}
    

.red a{
    text-decoration: none;
    color: inherit;
    /* Hereda el color del texto */
    display: flex;
    /* Hace que el enlace abarque todo el contenido */
    width: 100%;
    margin: 0px;
    gap: 10px;

    justify-content: center;
    align-items: center;

    /* Ancho fijo para los cuadrados */
    height: auto;
    /* Ancho fijo para los cuadrados*/

   
    /* Alto fijo para los cuadrados */
    backdrop-filter: blur(10px);
    /* Efecto blur */
    border: 2px solid #eeff00 ;
    border-radius: 15px;
    /* Bordes redondeados */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.192);

    
    padding: 20px;
    transition: transform 0.3s ease,
        box-shadow 0.3s ease,
        background-color 0.8s ease,
        color 0.4s ease,
        border-color 0.3s ease;
}
.red a:hover{
    border-color: black;
    transform: scale(1.1);
    background-color: #eeff00;
    color: black;
}





/*--------------------------------PROYECTS-------------------------------*/
.proyectsDiv {
    justify-content: center;
    align-items: center;



}

.gridProyects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10px, 1fr));
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    /* Espacio entre las columnas */
    justify-items: center;
    /* Centra cada celda dentro de su espacio */
    align-items: center;
}

.proyect img {
    border-radius: 20px;
    border: 2px solid #eeff00;
    margin: 0px;
    object-fit: cover;
    transition: border-color 0.4s ease;
    width: 80%;
    height:auto;


}

.proyect-link {
    text-decoration: none;
    color: inherit;
    /* Hereda el color del texto */
    display: block;
    /* Hace que el enlace abarque todo el contenido */
    width: 100%;
    margin: 0px;
}


.proyect {


    color: #eeff00;
    text-align: center;
    line-height: 1px;


    width: 80%;
    /* Ancho fijo para los cuadrados */
    height: auto;
    /* Ancho fijo para los cuadrados*/

    background: rgba(11, 130, 228, 0.15);
    /* Alto fijo para los cuadrados */
    backdrop-filter: blur(10px);
    /* Efecto blur */
    border-radius: 15px;
    /* Bordes redondeados */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.192);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    margin: 0px;
    transition: transform 0.3s ease,
        box-shadow 0.3s ease,
        background-color 0.8s ease,
        color 0.4s ease,
        border-color 0.3s ease;


}

.proyect:hover {
    border-color: black;
    transform: scale(1.1);
    background-color: #eeff00;
    color: black;

}

.proyect:hover img {
    border-color: black;
}

.proyect span {
    margin: 0px;
    transition: color 0.3s ease;
}

.proyect:hover span {
    color: black;
}

.proyect span {
    color: white;
}

.proyect h3 {
    color: inherit;
}

.proyect:nth-child(odd) {
    margin-top: 40px;
}

.proyect:nth-child(even) {
    margin-top: 0px;
}



/*---------------------------------------- ANIMACIONES --------------------------------*/
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
        /* Comienza un poco desplazado hacia abajo */
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        /* Vuelve a su posición original */
    }
}

/* Ocultar todas las secciones inicialmente */
.hidden {
    visibility: hidden;
    /* Ocultar las secciones */
    opacity: 0;
    /* Mantenerlas invisibles */
    transform: translateY(30px);
    /* Desplazadas hacia abajo */
    transition: visibility 0s, opacity 1s ease, transform 1s ease;
    /* Controlamos la visibilidad y animación */
}

/* Cuando la sección se vuelve visible */
.visible {
    visibility: visible;
    /* Hacer visible la sección */
    opacity: 1;
    /* Hacerla visible */
    transform: translateY(0);
    /* Volver a su posición original */
    animation: fadeInUp 1s ease forwards;
    /* Activamos la animación */
}

section.visible {
    visibility: visible;
    /* Hacer la sección visible */
    opacity: 1;
    /* Hacerla completamente visible */
    transform: translateY(0);
    /* Vuelve a su posición original */
    animation: fadeInUp 1s ease forwards;
    /* Animación de entrada */
}









input {
    border-width: 2px;
    background-color: transparent;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-style: solid;
    border-bottom-color: aliceblue;

}

input::placeholder {
    color: aliceblue;
    opacity: 70%;
}

.txtForm {
    color: aliceblue;
}


form {
    background-color: gray;
}

footer {
    background-color: gray;
}

html {
    scroll-behavior: smooth;
}



/* ANIMACIONES  */
@media (min-width: 480px) {
    .phpersonal img {
        width: 180px;

    }
    .navbar button {
        font-size: clamp(1rem, 2vw, 1.5rem); /* Texto responsivo */
    }

}

@media (min-width: 1250px) {
    header {
        align-items: center;
        position: sticky;
        /* Cambiado a sticky */
        top: 0;
        /* Se queda pegado en la parte superior al hacer scroll */
        width: 60%;
        margin: 0 auto;
        /* Centra el header horizontalmente */
        padding: 15px 20px;
        background: rgba(255, 255, 255, 0.3);
        /* Fondo semitransparente */
        backdrop-filter: blur(10px);
        /* Efecto blur */
        border-radius: 20px;
        /* Bordes redondeados */
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        /* Sombra */
        z-index: 1000;

    }

    .containerHEADER {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;


    }

    .navbar {
        gap: 10px;

    }

    .navbar button {
        font-size: clamp(0.8rem, 2vw, 1.3rem); /* Texto responsivo */
    }



    .grid {
        grid-template-columns: repeat(3, 1fr);
        /* 3 columnas fijas cuando hay espacio suficiente */
    }



    .logoHomeBtn {

        margin-left: 10px;
        display: flex;
        background-color: transparent;
        border: none;
        justify-content: center;
        align-items: center;
        text-align: left;
        cursor: pointer;
        transition: transform 0.2s ease, box-shadow 0.3s ease;

    }

    section {
        padding: 20px 20px;
        width: 800px;
    }
    #proyects{
        width: 700px;
    }

    .phpersonal img {
        width: 250px;
        
    }

    /* 
    .tecnologia {

        width: 150px;
        /* Ancho fijo para los cuadrados */
    /* height: 150px; */
    /* Alto fijo para los cuadrados */

    /* } */

    .tecnologia img {
        width: 100px;
        height: 100px;

    }

}